<header class="header">
  <!-- Logo -->
  <div class="logo">
    <img src="../../../assets/img/Logo__1_-removebg-preview.png" alt="Logo" />
  </div>

  <!-- Botones principales -->
  <nav class="nav-buttons">
    <button ion-button>PC</button>
    <button ion-button>Play Station</button>
    <button ion-button>XBOX</button>
    <button ion-button routerLink="/pagina-carrito">Mi Carrito</button>
  </nav>

  <!-- Botón de inicio de sesión -->
  <div class="login">
    <button ion-button class="login-button" (click)="redirigirALogin()">Iniciar Sesión</button>
  </div>
</header>