<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="carrito-container">
    <h2>🛒 Tu carrito de compras</h2>

    <ion-list *ngIf="juegosEnCarrito.length > 0; else carritoVacio">
      <ion-card *ngFor="let juego of juegosEnCarrito">
        <ion-item>
          <img [src]="juego.image" alt="{{ juego.name }}" class="juego-imagen">
          <ion-label>
            <h3>{{ juego.name }}</h3>
            <p>{{ juego.price | currency }}</p>
          </ion-label>
          <ion-button color="danger" fill="solid" (click)="eliminarDelCarrito(juego)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
      
    </ion-list>

    <!-- Mensaje cuando el carrito está vacío -->
    <ng-template #carritoVacio>
      <div class="empty-cart">
        <ion-icon name="cart-outline"></ion-icon>
        <p>Tu carrito está vacío</p>
      </div>
    </ng-template>

    <ion-button expand="block" color="success" *ngIf="juegosEnCarrito.length > 0" (click)="vaciarCarrito()">
      Finalizar compra
    </ion-button>
  </div>
</ion-content>
