<div class="logo">
  <img class="img1" src="../../../assets/img/Logo (2).png" alt="">
</div>
<div class="container" id="container">
  <div class="form-container sign-up-container">
      <form (ngSubmit)="onSubmitRegistro()" [formGroup]="formularioRegistro" id="registrationForm">
          <h1>Crea Tu Cuenta</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-twitter"></i></a>
          </div>
          <span>O usa tu correo para crear una nueva</span>
          <input type="text" placeholder="Nombre" formControlName="userName" required />
          <div *ngIf="formularioRegistro?.get('userName')?.invalid && formularioRegistro?.get('userName')?.touched" class="error-message">
            El nombre es obligatorio.
          </div>
          
          <input type="email" placeholder="Correo" formControlName="email" required />
          <div *ngIf="formularioRegistro?.get('email')?.invalid && formularioRegistro?.get('email')?.touched" class="error-message">
            El correo es obligatorio y debe ser un correo electrónico válido.
          </div>
          
          <input type="password" placeholder="Contraseña" formControlName="password" required />
          <div *ngIf="formularioRegistro?.get('password')?.invalid && formularioRegistro?.get('password')?.touched" class="error-message">
            La contraseña es obligatoria.
          </div>
          
          <button type="submit">Registrarse</button>
        </form>
        
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSubmitLoginCliente()" [formGroup]="formularioLogin" id="form2">
      <h1>Inicia Sesión</h1>
      <input type="email" placeholder="Email" formControlName="email" required />
      <input type="password" placeholder="Password" formControlName="password" required/>
      <button type="submit">Iniciar Sesión</button>
    </form>
    
  
  </div>
  <div class="overlay-container">
      <div class="overlay">
          <div class="overlay-panel overlay-left">
              <h1>Bienvenido de Vuelta!</h1>
              <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
              <button class="ghost" id="signIn">Acceder</button>
          </div>
          <div class="overlay-panel overlay-right">
              <h1>Hola, Amigo!</h1>
              <p>
                  Introduce tus datos personales y comienza tu viaje con nosotros.</p>
              <button class="ghost" id="signUp">REGISTRATE</button>
          </div>
      </div>
  </div>
</div>
<section class="footer"><app-footer></app-footer></section>
