
h1 {
  text-align: center; /* Centra el texto */
  font-family: 'Poppins', sans-serif; /* Cambia la fuente */
  font-size: 2.5rem; /* Tamaño del texto */
  color: #000000; /* Color del texto */
  font-weight: bold; /* Negrita */
  margin-top: 3%;
  
}
